.App {
  text-align: center;
}

.sign{
  margin-left: 80%;
}

.shopName{
  margin-left: 750%;

}

.foot{
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 10%;
  background-color: cornflowerblue;
  color: cornsilk;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  
}

.addPro{
  margin-top: 1%;
  margin-left: 90%;
}

.container > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

p {
  color: red;
}